* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #72bfe2;
  --dark-color: rgb(93, 133, 150);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

main {
  margin: 20px auto;
  text-align: center;
}

header {
  background-color: var(--main-color);
}

.header-wrapper,
ul {
  display: flex;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 768px;
  margin: auto;
}

.logo {
  padding-left: 15px;
}
.header-wrapper nav ul {
  justify-content: space-evenly;
}

.header-wrapper nav ul li {
  list-style: none;
  padding: 15px 15px;
}

.header-wrapper nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  transition: 0.3s;
}

.header-wrapper nav ul li:hover {
  background-color: var(--dark-color);
}

/* Button */

button {
  padding: 8px;
  width: fit-content;
  border: none;

  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-color);
}

/* form */
form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 40px auto;
  gap: 5px;
}

.form-title {
  text-align: center;
  margin: 40px 0;
}

form input,
select {
  padding: 5px;
  margin-bottom: 10px;
}

form select {
  cursor: pointer;
}

/* table */

table {
  margin: 30px auto;
  text-align: center;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  /* border: 1px solid grey; */
  padding: 4px;
}

thead {
  border-bottom: 3px solid grey;
}

th {
  padding: 10px;
}

td {
  border-bottom: 0.3px solid grey;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* main */
main p {
  margin-top: 20px;
}
